:root {
  --background: rgb(250, 232, 204);
  --button: rgb(255, 157, 58);
}

body {
    background-color: var(--background);
    font-family: Arial;
    color: var(--button);
    font-weight:  bold;
  }
  
.topnav h1{
  display: inline;
  filter: drop-shadow(0vw 0vw 0.5vw #000000);
  text-align: center;
  font-size: 5vw;
}

.topnav h3{
  display: inline;
  filter: drop-shadow(0vw 0vw 0.5vw #000000);
  text-align: center;
  font-size: 3vw;
}

.topnav img{
  height: 4vw;
  width: auto;
  filter: drop-shadow(0vw 0vw 0.5vw #000000);
  text-align: center;
  display: inline;
  margin-left: auto;
  margin-right: auto;
}




.float-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(24vw, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(24vw, 1fr));
}


.float-container {
  display:inline-block;
  margin: 1.1vw;
  padding: 0.6vw;
  background-color: var(--button);
  border-radius: 2vw;
  height: 21vw;
  width: 22vw;
  filter: drop-shadow(0.5vw 0.5vw 0.6vw #000000);
  text-align: center;

}

.container_img {
  border-radius: 1.5vw;
  border-color: var(--background);
  border-style: solid;
  border-width: 0.4vw;
  width: 21vw;
  height: 11.9vw;
  
}


.container_text {
  color: white;
  font-size: 3vw;
  text-align: center;
  position: relative;
  top: -1.5vw;}
.container_text_medium {
  color: white;
  font-size: 2.5vw;
  text-align: center;
  position: relative;
  top: -0.9vw;}
.container_text_small {
  color: white;
  font-size: 2vw;
  text-align: center;
  position: relative;
  top: -1.1vw;
}

.container_name {
  color: white;
  font-size: 1.5vw;
  text-align: center;
  position: relative;
  bottom: 3.65vw;}
.container_name_medium {
  color: white;
  font-size: 1.5vw;
  text-align: center;
  position: relative;
  bottom: 2.2vw;}
.container_name_small {
  color: white;
  font-size: 1.5vw;
  text-align: center;
  position: relative;
  bottom: 2.75vw;
}

@media screen and (max-width: 500px) {
  .float-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .float-container {
    height: 41vw;
    width: 40vw;
  }

  .container_img {
    width: 38vw;
    height: 21vw;
  }
}

@media screen and (max-width: 1000px) and (min-width: 501px) {
  .float-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .float-container {
    height: 23vw;
    width: 22vw;
  }
  .container_img {
    width: 21vw;
    height: 12vw;
  }
}

  .container_text {
    font-size: 5vw;
    top: -1.5vw;}
  .container_text_medium {
    font-size: 4.5vw;
    top: -0.9vw;}
  .container_text_small {
    font-size: 4vw;
    top: -1.1vw;
  }

  .container_name {
    font-size: 3.5vw;
    bottom: 3.65vw;}
  .container_name_medium {
    font-size: 3.5vw;
    bottom: 2.5vw;}
  .container_name_small {
    font-size: 3.5vw;
    bottom: 3.85vw;
  }


.float-container:hover {
  filter: opacity(90%) drop-shadow(0.5vw 0.5vw 0.6vw #000000b1);;
}
